<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11fc85fa63.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../../../css/global.css" />
		<link rel="stylesheet" href="../../../css/header.css" />
		<link
			rel="shortcut icon"
			href="https://hub.koneko.link/cdn/icons/purple.png"
			type="image/x-icon"
		/>

	</head>
    <body>
    <div class="header">
    <a href="../../" class="logo"
        >NekoWatch<span style="color: purple">;</span></a
    >
    <div class="header-right">
		<a style="margin: 0; padding: 6px;" id="top-search">
			<input type="text" placeholder="query..." id="input" />
			<button onclick="outSearch()" id="submitbtn">
				<i class="fa fa-search" style="width: 30px"></i>
			</button>
		</a>
        <a href="../../" class="track">
            Home
        </a>
        <a href="http://track.koneko.link" class="track">Tracker</a>
    </div>
    </div>
	<br>
    <div class="content">
    <div class="anime-info">
        <div class="anime-info-left">
        <img referrerpolicy="no-referrer" src="" style="height:120px; width:90px;" id="theimage"/>
        </div>
        <div class="anime-info-right">
            <h1 id="bigboytitlethingy"></h1>
        </div>
    </div>
    <div class="episode-container" id="ep-cont" style="text-align:center">
    </div>
	<br>
    <div class="episode-controls" style="text-align:center">
	</div>
    </body>
    <script src="/gogo.js" type="module" async></script>
	<script src="/js/nekolist.js"></script>
    <script src="/js/videoManager.js"></script>
    </script>
	<script>
	function outSearch() {
		var input = document.getElementById("input").value;
		if (input == "") return
		window.location.href = "/?q=" + input
	}
	document.getElementById("input").addEventListener("keyup", function (event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			outSearch();
		}
	});
	</script>
    <script>

    </script>
</html>